section.page-start
    p Hello to Tic Tac Toe
    p Please enter your names bellow to get the party started :)

    form(data-hook="names-form")
        fieldset(data-hook="field-container")
        button.btn.btn-primary(type="submit") Let's Go!