section.page-start
    p.text-center Welcome to Tic Tac Toe
    p.text-center Please enter your names bellow to get the party started :)

    form(id="form-names" data-hook="names-form")
        fieldset(data-hook="field-container")
        button.btn.btn-success.big(type="submit") Let's Go!