.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.footer-main {
  padding: 40px 20px;
  border-top: 1px solid #f7f7f7;
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: #828c8f;
}
.footer-main .nav-footer {
  max-width: 500px;
  margin: 0 auto;
}
.footer-main .nav-footer div {
  width: 33.33%;
  padding: 0 5px;
  float: left;
}
.footer-main p {
  margin: 10px 0;
}
.footer-main .nav-item {
  margin-bottom: 3px;
  display: block;
}
.footer-main .logo-ampersand-pink {
  width: 17px;
  height: 20px;
  margin-top: 10px;
  display: inline-block;
  text-indent: -9999em;
  background: url("images/logo-ampersand.png") no-repeat top center;
  background-size: 17px auto;
}
body {
  background: #fff;
}
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.alert {
  text-align: center;
  font-size: 18px;
  display: block;
  padding: 5px 20px;
  margin-bottom: 15px;
}
.page-title {
  display: block;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px solid #d4d4d4;
}
.page-title .inner {
  width: 100%;
  height: 50px;
  bottom: -25px;
  text-align: center;
}
.page-title .inner .title-text {
  padding: 5px 20px;
  border-bottom: 2px solid #333;
  border-radius: 5px;
  background: #fff;
}
#gameField {
  width: 300px;
  margin: 0 50px 50px 0;
}
.hold {
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
}
.gameCell {
  width: 100px;
  height: 100px;
  border: 1px solid #d4d4d4;
  float: left;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
}
.gameCell:before {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 60px;
}
.gameCell.sign-0:before {
  background: rgba(34,120,167,0.3);
  color: #333;
  content: "O";
}
.gameCell.sign-1:before {
  background: rgba(34,167,100,0.3);
  color: #000;
  content: "X";
}
.gameCell.is-empty {
  content: '';
}
#form-names {
  width: 360px;
  display: block;
  margin: 50px auto;
}
label {
  margin-bottom: 1px;
}
.form-control {
  border-bottom: 1px solid #333 !important;
  border-radius: 5px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  text-align: center;
}
.btn-success.big {
  width: 120px;
  height: 40px;
  text-shadow: 1px 1px 1px #333;
  display: block;
  margin: 5px auto;
}
.stats ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.stats ul li {
  padding-left: 40px;
  height: 35px;
  line-height: 35px;
  display: block;
}
.stats ul li .mk {
  display: block;
  top: 2.5px;
  left: 2.5px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  overflow: hidden;
}
.stats ul li .mk:before {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}
.stats ul li .mk.sign-0:before {
  background: rgba(34,120,167,0.3);
  color: #333;
  content: "O";
}
.stats ul li .mk.sign-1:before {
  background: rgba(34,167,100,0.3);
  color: #000;
  content: "X";
}
.score li span {
  height: 25px;
  line-height: 25px;
}
.score li span:nth-child(2) {
  margin-left: 10px;
}
